h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 230px
}

img {
border: solid;  
border: dashed red;
}

button {
  background-color: #f44336;
  border-radius: 8px;
  width: 40%;
}

body {
  display: block;
  margin-left: auto;
  margin-right: auto
}

img {
  margin-left: 140px
}

#showTime {
    margin-left: 80px;
}